<html>
    <head>
        <style>
            h3 {
                font-size: 1.35rem;
                margin-bottom: 0.75rem;
                font-weight: 500;
            }
            footer { 
                margin-top: 5rem; 
            }
            p {

                font-size: 1.25rem;
                margin-bottom: 1rem;
                text-align: left;
            }

            .delivery-details {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                margin: 1.5rem 0;
            }

            .user h2, .address h2 {
                text-align: center;
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }
            .user p, .address p {
                text-align: left;
                font-size: 1rem;
                padding: 0.25rem 0.25rem 0.75rem;
            }
        </style>
    </head>
    <body>
        <h3>Chào bạn {{name}},</h3>
        <p>Cảm ơn bạn đã mua sắm tại Boo2nd</p>
        <p>Đơn hàng {{id}} của bạn đã được xác nhận thành công</p>
        <p>Đơn hàng của bạn sẽ được đóng gói và gửi đi trong thời gian sớm nhất. Chúng tôi sẽ gửi thông báo cho bạn khi sản phẩm sẵn sàng để giao hàng.</p>

        <div class="delivery-details">
            <div class="user">
                <h2>Chi tiết người nhận</h2>
                <p>
                    <span>{{name}}</span>
                    <span>{{phone}}</span>
                </p>
            </div>
            <div class="address">
                <h2>Địa chỉ nhận</h2>
                <p>{{address}}</p>
            </div>
        </div>

        <footer>
            <p>Chúc bạn mua sắm vui vẻ và những lời chào thân ái từ tất cả mọi người tại Boo2nd.</p>
        </footer>
    </body>
</html>